name: CI Pipeline MLOps

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
  DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # Ambil Kode
    - name: Checkout Code
      uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install MLflow & Dependencies
    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn joblib matplotlib seaborn

    # Login ke Docker Hub (Syarat Advance)
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # alankan MLflow Project (Training Otomatis)
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    # Upload MLflow artifacts to GitHub Actions
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    # Build Docker image from MLflow model and push to Docker Hub
    - name: Build Docker image with MLflow
      run: |
        cd MLProject
        
        run_id=$(python -c "import mlflow; runs = mlflow.search_runs(max_results=1, order_by=['start_time DESC']); print(runs['run_id'][0])")
        
        echo "Found latest run id from Remote: $run_id"
        
        if [ -z "$run_id" ]; then echo "No Run ID found"; exit 1; fi
        
        mlflow models build-docker -m "runs:/$run_id/model" -n "${{ secrets.DOCKER_USERNAME }}/telco-churn-mlops:latest"