name: MLflow CI Advanced

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-build-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn docker

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run .

    # =========================
    # SAVE ARTIFACT TO GITHUB
    # =========================
    - name: Upload ML Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-artifacts
        path: MLProject/artifacts

    # =========================
    # BUILD DOCKER IMAGE
    # =========================
    - name: Build Docker Image with MLflow
      run: |
        mlflow models build-docker \
          -m runs:/$(mlflow runs list --experiment-name Telco_Churn_CI --max-results 1 --output-format csv | tail -n 1 | cut -d',' -f1)/model \
          -n naawra/telco-churn-mlflow

    # =========================
    # PUSH TO DOCKER HUB
    # =========================
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push naawra/telco-churn-mlflow
